 

 body {
    background-color: rgb(173, 19, 19);
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    
  }

  h1, h2 {
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    

    }

    p {
        text-align: left;
        margin-top: 30px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-style: normal;
        font-size: larger;
        color: rgb(35, 5, 5)
        
        
    
        }
    